.findDialog{
  z-index: 300;
  box-sizing: border-box;

  @media print {
    display: none;
  }
}

.findDialog div[data-position="right"].mantine-Input-section {
  justify-content: right;
  padding-right: 8px;
}
